@model SIPERPUS.ViewModel.PengembalianViewModel
@{
    ViewData["Title"] = ViewData["title"];
}

<h3>@ViewData["title_page"]</h3>

@await Html.PartialAsync("~/Views/Shared/_Alert.cshtml")
@Html.Raw(ViewBag.Alert)
<form asp-controller="Pengembalian" asp-action="Index" method="get">
    <p class="float-end">
        Search: <input type="text" asp-for="Search" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Mahasiswa
            </th>
            <th>
                Buku
            </th>
            <th>
                Qty
            </th>
            <th>
                Tgl Dikembalikan
            </th>
            <th>
                Denda
            </th>
            <th>
                Ket
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int iter = 0;
        }
        @foreach (var item in Model.Pengembalians)
        {
            <tr>
                <td>
                    @Model.MahasiswaName[iter]
                </td>
                <td>
                    @Model.BukuName[iter]
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.qty)
                </td>
                <td>
                    @item.tgl_dikembalikan.Value.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("id-ID"))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.denda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ket)
                </td>

                <td>
                    <a asp-action="Details" class="btn btn-sm btn-outline-primary" title="Details"
                    asp-route-id="@item.id"><i class="fas fa-info-circle"></i></a> |
                    <a asp-action="Delete" class="btn btn-sm btn-outline-danger" title="Delete" asp-route-id="@item.id"><i
                        class="fas fa-trash"></i></a>
                </td>
            </tr>
            iter++;
        }
    </tbody>
</table>